#!/bin/bash

# Which repos to run
SEAL=true
PALISADE=true
HELIB=true

# Must be a tag, branch, or commit SHA
# For SEAL & PALISADE that pull their own HEXL, users may stay with their default version
# Or, users may change the below "optional/default" tags to their preferred HEXL commit/tag/branch/etc.
SEALVERSION="v3.7.2"
SEALHEXLVERSION="default"

PALISADEVERSION="v1.11.6"
PALISADEHEXLVERSION="default"

HELIBVERSION="v2.2.1"
HELIBHEXLVERSION="v1.2.3"
HELIBGBENCHVERSION="v1.5.6"

# Must be ON or OFF
HEXL="ON"

# TEST TO RUN
PERFORMANCETEST=true
PERFSTATTEST=false
EMONTEST=false
