#!/bin/bash

# Which repos to run
REFSEAL=true
REFPALISADE=true

# Must be a tag, branch, or commit SHA
# For SEAL & PALISADE Reference Backends that pull their own dependencies, users may stay with their default version
# Or, users may change the below "default" tags to their preferred commit/tag/branch/etc.
# For LIBRARYHEBCONFIG variables, the provided path is expected to be relative to the root of the configuration-file repository
# If not passing a config, simply leave this variable blank (e.g. SEALHEBCONFIG="")
REFSEALVERSION="v0.7.0-beta"
REFSEALFRONTENDVERSION="default"
SEALVERSION="default"
REFSEALHEBCONFIG="/hebench/performance_regression_tests/seal/default/seal_reference_default_config-51GB.yml"

REFPALISADEVERSION="v0.7.0-beta"
REFPALISADEFRONTENDVERSION="default"
PALISADEVERSION="default"
REFPALISADEHEBCONFIG="/hebench/performance_regression_tests/palisade/default/palisade_reference_default_config.yml"

# Must be ON or OFF
HEXL="ON"

# TEST TO RUN
PERFORMANCETEST=true
PERFSTATTEST=false
EMONTEST=false
