#!/bin/bash

# Which repos to run
HEXL=true

# Must be a tag, branch, or commit SHA
# For SEAL & PALISADE that pull their own HEXL, users may stay with their default version
# Or, users pay change the below "optional" tags to their preferred HEXL commit/tag/branch/etc.
HEXLVERSION="v1.2.4"

# TEST TO RUN
PERFORMANCETEST=true
PERFSTATTEST=false
EMONTEST=false

